include README.rst
include etc/settings.cfg
include etc/css/*.css
include bin/unix/alignak-app
include bin/unix/alignak-app.py
recursive-include etc/images *.svg
recursive-include etc/images *.png
recursive-include alignak_app *.*
global-exclude *pyc
