/****** GENERAL ******/
QLabel {
    color: black;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

QToolTip {
    background-color: black;
    color: #1fb3e3;
}

.QWidget {
    background-color: white;
}

/****** APP QWIDGET ******/
QFrame#app_widget {
    border-width: 2px;
    border-color: #607d8b;
    border-style: solid;
    background-color: white;
}

QPushButton#app_widget {
    background-color: #607d8b;
    border: none;
    outline: none;
}

QPushButton#app_widget:hover {
    background-color: #889da6;
}

QWidget#logo {
    background-color: #607d8b;
}

QWidget#title {
    background-color: #607d8b;
}

QLabel#title {
    background-color: #607d8b;
    color: white;
}

/****** LOGIN ******/
QWidget#login {
	border-width: 0px 2px 2px 2px;
    border-color: #607d8b;
    border-style: solid;
    background-color: white;
}

QDialog {
    border-width: 2px 2px 0px 2px;
    border-color: #607d8b;
    border-style: solid;
    background-color: white;
}

QPushButton#valid {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

QPushButton#valid:pressed {
    background-color: #59b75c;
    color: white;
}

QPushButton#valid:hover {
    background-color: #59b75c;
    color: white;
}

QLabel#login_msg {
    color: red;
}

QLabel#login {
    color: #1fb4e4;
    font-size: 18px;
}

QLabel#login_welcome {
    font-size: 14px;
    text-align: center;
}

QLabel#title_login {
    margin-left: 2px;
}

/****** DASHBOARD ******/
QProgressBar {
    color: black;
    border: none;
    text-align: center;
}

QProgressBar#services_ok::chunk, QProgressBar#hosts_up::chunk {
    background-color: #27ae60;
}

QProgressBar#services_warning::chunk, QProgressBar#hosts_unreachable::chunk {
    background-color: #e67e22;
}

QProgressBar#services_critical::chunk, QProgressBar#hosts_down::chunk {
    background-color: #e74c3c;
}

QProgressBar#services_unknown::chunk {
    background-color: #2980b9;
}

QProgressBar#services_unreachable::chunk {
    background-color: grey;
}

QProgressBar#services_acknowledge::chunk, QProgressBar#hosts_acknowledge::chunk {
    background-color: #95a5a6;
}

QProgressBar#services_downtime::chunk, QProgressBar#hosts_downtime::chunk {
    background-color: #7e8ccf;
}

/****** BANNER ******/
QLabel#banner {
    color: white;
    font-size: 14px;
}

QPushButton#banner {
    border: none;
}

QWidget#bannerOK {
    background-color: #27ae60;
}

QWidget#bannerINFO {
    background-color: #3884c3;
}

QWidget#bannerWARN {
    background-color: #e67e22;
}

QWidget#bannerALERT {
    background-color: #e74c3c;
}

QWidget#bannerERROR {
    background-color: #383838;
}

/****** ACTIONS ******/
QLabel#actions {
    font-size: 14px;
}

QCheckBox#actions {
    background-color: #607d8b;
    color: white;
    border: 0.5px solid #607d8b;
    border-radius: 8px;
}

QCheckBox#actions::indicator {
    width: 14px;
    height: 14px;
    border: none;
    border: 0.5px solid #607d8b;
    border-radius: 8px;
}

QCheckBox#actions::indicator::checked {
    background-color: #58c75c;
}

QCheckBox#actions::indicator::unchecked {
    background-color: white;
}

/****** SYNTHESIS VIEW ******/
QWidget#services {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #ddd;
}

QWidget#service_widget {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #ddd;
}

QListWidget {
    outline: none;
}

QListWidget::item:selected {
    border: none;
    color: black;
    background-color: #e2dede;
}

QPushButton#search {
    background-color: #3884c3;
    color: white;
    border: none;
    border-radius: 5px;
}

QPushButton#search:hover {
    background-color: #03a9f4;
}

QTextEdit#output {
    border: none;
    background-color: #eee;
}

QCheckBox#aggregation, QCheckBox#OK, QCheckBox#WARNING, QCheckBox#UNREACHABLE, QCheckBox#UNKNOWN, QCheckBox#CRITICAL, QCheckBox#ACKNOWLEDGE, QCheckBox#DOWNTIME {
    font-weight: bold;
    outline: none;
}

QCheckBox#aggregation::indicator, QCheckBox#OK::indicator, QCheckBox#WARNING::indicator, QCheckBox#UNREACHABLE::indicator, QCheckBox#UNKNOWN::indicator, QCheckBox#CRITICAL::indicator, QCheckBox#ACKNOWLEDGE::indicator, QCheckBox#DOWNTIME::indicator {
    border: none;
}

QCheckBox#aggregation::unchecked, QCheckBox#OK::unchecked, QCheckBox#WARNING::unchecked, QCheckBox#UNREACHABLE::unchecked, QCheckBox#UNKNOWN::unchecked, QCheckBox#CRITICAL::unchecked, QCheckBox#ACKNOWLEDGE::unchecked, QCheckBox#DOWNTIME::unchecked  {
    background-color: white;
    border: none;
}

QCheckBox#aggregation {
    color: black;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

QCheckBox#OK {
    color: #27ae60;
    border-color: #27ae60;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

QCheckBox#WARNING {
    color: #e67e22;
    border-color: #e67e22;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

QCheckBox#CRITICAL {
    color: #e74c3c;
    border-color: #e74c3c;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

QCheckBox#UNKNOWN {
    color: #2980b9;
    border-color: #2980b9;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

QCheckBox#UNREACHABLE {
    color: #9b59b6;
    border-color: #9b59b6;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

QCheckBox#ACKNOWLEDGE {
    color: #f39c12;
    border-color: #f39c12;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

QCheckBox#DOWNTIME {
    color: #f1c40f;
    border-color: #f1c40f;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

QLabel#OK {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #27ae60;
}

QLabel#WARNING {
    border-style: solid;
    border-width:0px 0px 2px 0px;
    border-color: #e67e22;
}

QLabel#CRITICAL {
    border-style: solid;
    border-width:0px 0px 2px 0px;
    border-color: #e74c3c;
}

QLabel#UNKNOWN {
    border-style: solid;
    border-width:0px 0px 2px 0px;
    border-color: #2980b9;
}

QLabel#UNREACHABLE {
    border-style: solid;
    border-width:0px 0px 2px 0px;
    border-color: #9b59b6;
}

QLabel#ACKNOWLEDGE {
    border-style: solid;
    border-width:0px 0px 2px 0px;
    border-color: #f39c12;
}

QLabel#DOWNTIME {
    border-style: solid;
    border-width:0px 0px 2px 0px;
    border-color: #f1c40f;
}

/****** TITLE ******/
QWidget#popup_title {
    background-color: #002b36;
}

QLabel#title_label {
    font-size: 20px;
    margin-top: 5px;
    color: white;
}

QLabel#logo {
    margin-top: 10px;
}

/****** STATUS ******/
QLabel#help {
    font-size: 11px;
}
