/****** QWidget / QDialog ******/
QWidget#dialog {
    border-width: 0px 2px 2px 2px;
    border-color: #475c67;
    border-style: solid;
    background-color: white;
}

QWidget#app_widget {
    border-width: 2px 2px 0px 2px;
    border-color: #475c67;
    border-style: solid;
    background-color: #607d8b;
}

QWidget#logo {
    background-color: #607d8b;
}

QWidget#history {
    border-width: 0px 0px 1px 0px;
    border-color: #6c9cb3;
    border-style: solid;
}

QDialog#about, QWidget#about{
    background-color: #3b4155;
}

/****** QLabel ******/
QLabel {
    color: #3b4155;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 10.5pt;
}

QLabel#error {
    padding-left: 10px;
    color: #c7254e;
    background-color: #f9f2f4;
}

QLabel#notes {
    padding-left: 10px;
    color: #2581c7;
    background-color: #e6f4ff;
}

QLabel#title {
    font-weight: bold;
}

QLabel#widget_title {
    background-color: #607d8b;
    color: white;
}

QLabel#subtitle {
    color: #607d8b;
    font: 10.5pt;
}

QLabel#itemtitle {
    color: #3884c3;
    background-color: white;
    border-width: 0px 0px 1px 0px;
    border-color: #3884c3;
    border-style: solid;
    font: 12pt;
}

QLabel#start {
    border: none;
    padding: 0 8px;
    color: white;
    background-color: #3884c3;
    font: 12pt;
}

QLabel#ok {
    background-color: #27ae60;
    color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
}

QLabel#warn {
    background-color: #ff9b44;
    color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
}

QLabel#ko {
    background-color: #f44437;
    color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
}

QLabel#total {
    background-color: #3b4155;
    color: #fff;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
}

QLabel#bordertitle {
    color: #3884c3;
    background-color: white;
    border: 1px solid #3884c3;
    padding-left: 5px;
    padding-right: 5px;
    font: 10pt;
}

QLabel#optionTrue {
    color: #4caf50;
}

QLabel#optionFalse {
    color: #f44336;
}

QLabel#services_ok, QLabel#hosts_up {
    color: #27ae60;
    font: 10pt;
}

QLabel#services_warning {
    color: #e67e22;
    font: 10pt;
}

QLabel#services_critical, QLabel#hosts_down {
    color: #e74c3c;
    font: 10pt;
}

QLabel#services_unknown {
    color: #2980b9;
    font: 10pt;
}

QLabel#services_unreachable, QLabel#hosts_unreachable {
    color: #9b59b6;
    font: 10pt;
}

QLabel#hosts_not_monitored, QLabel#services_not_monitored {
    color: #b4b6b7;
    font: 10pt;
}

QLabel#acknowledge {
    color: #f39c12;
    font: 10pt;
}

QLabel#downtime {
    color: #f1c40f;
    font: 10pt;
}

QLabel#edit {
    color: #1fb4e4;
    font: 10pt;
}

QLabel#request {
    color: #9b59b6;
    font: 10pt;
}

QLabel#itemname {
    font-weight: bold;
    font-size: 20pt;
}


QLabel#aboutheader {
    border: none;
    padding: 0 8px;
    color: white;
    background-color: #3884c3;
    font: 13pt;
    font-weight: bold;
}

QLabel#aboutmain {
    background-color: #3b4155;
    color: white;
    font: 11pt;
    qproperty-alignment: AlignCenter;
}

QLabel#abouttitle {
    background-color: #3b4155;
    color: #1fb3e3;
    font: 10.5pt;
}

QLabel#about {
    color: white;
    background-color: #3b4155;
}

/****** QToolTip ******/
QToolTip {
    background-color: #3b4155;
    color: #1fb3e3;
}

/****** QPushButton ******/
QPushButton {
    border: 1px solid #ccc;
    border-radius: 0.2em;
}

QPushButton:hover {
    background-color: #eaeaea;
}

QPushButton#True {
    color: white;
    font-weight: bold;
    background-color:  qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #27ae60, stop: 0.495 #27ae60, stop: 0.496 black, stop: 0.5 white);
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: left;
    padding-left: 5px;
}

QPushButton#False {
    color: white;
    font-weight: bold;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop:0 white, stop: 0.495 white, stop: 0.496 black, stop: 0.497 #f44336);
    border: 1px solid #607d8b;
    border-radius: 2px;
    text-align: right;
    padding-right: 5px;
}

QPushButton#app_widget {
    background-color: #607d8b;
    border: none;
    outline: none;
}

QPushButton#app_widget:hover {
    background-color: #889da6;
}

QPushButton#ok {
    color: #3884c3;
    background-color: white;
    outline: none;
    border-radius: 0px;
    border: 1px solid #3884c3;
    padding-left: 5px;
    padding-right: 5px;
    font: 10pt;
}

QPushButton#ok:hover {
    background-color: #3884c3;
    color: white;
    border: 1px solid #3884c3;
}

QPushButton#valid {
    color: #3884c3;
    background-color: white;
    outline: none;
    border-radius: 0px;
    border: 1px solid #3884c3;
    padding-left: 5px;
    padding-right: 5px;
    font: 10pt;
}

QPushButton#valid:hover {
    background-color: #39aa56;
    color: white;
    border: 1px solid #39aa56;
}

QPushButton#valid:disabled {
    background-color: #39aa56;
    color: white;
    border: 1px solid #39aa56;
}

/****** QProgressBar ******/
QProgressBar {
    color: #3884c3;
}

QProgressBar:horizontal {
    border: 1px solid #3884c3;
    padding: 1px;
}

QProgressBar::chunk:horizontal {
    background: qlineargradient(x1: 0, y1: 0.5, x2: 1, y2: 0.5, stop: 0 #3884c3, stop: 1 white);
}

/****** QScrollBar ******/
QScrollBar {
    width: 10px;
    height: 10px;
    background: white;
}

QScrollBar:vertical {
    background: white;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background: #3b4155;
    border-radius: 5px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    border: none;
    background: none;
    color: none;
    height: 0px;
    width: 0px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    border: none;
    background: none;
}

/****** QScrollArea ******/
QScrollArea#output {
    color: #c7254e;
    background-color: #f9f2f4;
}

QScrollArea#output QWidget {
    color: #c7254e;
    background-color: #f9f2f4;
}

QScrollArea#notes {
    color: #2581c7;
    background-color: #e6f4ff;
}

QScrollArea#notes QWidget {
    color: #2581c7;
    background-color: #e6f4ff;
}

/****** QFrame ******/
QFrame#app_widget {
    border-width: 2px;
    border-color: #475c67;
    border-style: solid;
    background-color: white;
}

QFrame#hseparator {
    border-width: 0px 0px 1px 0px;
    border-color: #6c9cb3;
    border-style: solid;
}

QFrame#vseparator {
    border-width: 0px 1px 0px 0px;
    border-color: #6c9cb3;
    border-style: solid;
    margin-bottom: 5px;
}

/****** QListWidget ******/
QListWidget {
    border: none;
    background-color: white;
}

QListWidget::item {
    height: 35px;
    color: #3b4155;
}

QListWidget::item:hover {
    background-color: white;
    border: 1px solid #1fb4e4;
    color: #3884c3;
}

QListWidget::item:selected {
    background-color: white;
    color: #3884c3;
    border: 1px solid #3884c3;
}

/****** QTableWidget ******/
QTableWidget {
    gridline-color: white;
}

QTableWidget#history::item:selected {
    background-color: #f0f9fd;
}

QTableWidget::item {
    color: #3b4155;
}

QTableWidget#problems::item:selected {
    color: #e67e22;
    background-color: white;
}

/****** QHeaderView ******/
QHeaderView::section {
    border-style: none;
    background-color: #3884c3;
    color: white;
    border-right: 1px solid white;
}

QHeaderView::section:vertical {
    border-right: 1px solid white;
}

/****** QTabWidget / QTabBar ******/
QTabWidget::pane {
    border: 1px solid #3884c3;
}

QTabBar::tab {
    color: #3884c3;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font: 11pt;
    height: 24px;
    min-width: 150px;
}

QTabBar::tab::selected {
    background-color: #3884c3;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font: 11pt;
    border-width: 1px 1px 0px 1px;
    border-color: #3884c3;
    border-style: solid;
}

/****** QLineEdit ******/
QLineEdit {
    border: none;
    padding: 0 8px;
    color: white;
    background-color: #3884c3;
    selection-background-color: white;
    selection-color: #3884c3;
}

/****** QTreeWidget ******/
QTreeWidget {
    alternate-background-color: #f0f9fd;
    background: white;
    selection-background-color: white;
    selection-color: #3b4155;
    show-decoration-selected: 1;
    border: none;
}

QTreeWidget::item {
    height: 40px;
    border-radius: 3px;
}

QTreeWidget::item::selected::active {
    background-color: white;
    color: #3b4155;
    border: 1px solid #1fb4e4;
    border-radius: 3px;
}

/****** QTimeEdit / QDateTimeEdit ******/
QTimeEdit, QDateTimeEdit {
    background-color: #f0f9fd;
}
