/****** GENERAL ******/
QLabel {
    color: black;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

QLabel#title {
    font-weight: bold;
}

QToolTip {
    background-color: black;
    color: #1fb3e3;
}

QWidget {
    background-color: white;
}

/****** LOGIN ******/
QPushButton#valid {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

QPushButton#valid:pressed {
    background-color: #59b75c;
    color: white;
}

QPushButton#valid:hover {
    background-color: #59b75c;
    color: white;
}

/****** APP QWIDGET ******/
QWidget#app_widget {
    background-color: #607d8b;
}

QFrame#app_widget {
    border-width: 2px;
    border-color: #607d8b;
    border-style: solid;
    background-color: white;
}

QPushButton#app_widget {
    background-color: #607d8b;
    border: none;
    outline: none;
}

QPushButton#app_widget:hover {
    background-color: #889da6;
}

QWidget#logo {
    background-color: #607d8b;
}

QWidget#widget_title {
    background-color: #607d8b;
}

QLabel#widget_title {
    background-color: #607d8b;
    color: white;
}

/****** DOCK ******/
QLabel#ok {
    color: #27ae60;
}

QLabel#warn {
    color: #ff9b44;
}

QLabel#ko {
    color: #f44437;
}

QLabel#total {
    background-color: #ccc;
    color: #607d8b;
}

QFrame#separator {
    background-color: #607d8b;
    color: #607d8b;
}
QListWidget {
    outline: none;
}

QListWidget::item:selected {
    border: none;
    color: black;
    background-color: #e2dede;
}

/****** PANEL ******/
QPushButton#search {
	background-color: #3884c3;
    color: white;
    border: none;
    border-radius: 5px;
}

QPushButton#search:hover {
    background-color: #03a9f4;
}

/****** HOST ******/
QLabel#hosttitle {
    background-color: #607d8b; 
    color: white;
    margin-left: 0.5em;
}

QLabel#output {
    color: #c7254e;
    background-color: #f9f2f4;
}
QLabel#hostname {
    font-weight: bold;
    font: 20pt Comic Sans MS;
}
