/****** GENERAL ******/
QLabel {
    color: black;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

QLabel#title {
    font-weight: bold;
}

QToolTip {
    background-color: black;
    color: #1fb3e3;
}

.QWidget {
    background-color: white;
}

/****** APP QWIDGET ******/
QFrame#app_widget {
    border-width: 2px;
    border-color: #607d8b;
    border-style: solid;
    background-color: white;
}

QPushButton#app_widget {
    background-color: #607d8b;
    border: none;
    outline: none;
}

QPushButton#app_widget:hover {
    background-color: #889da6;
}

QWidget#logo {
    background-color: #607d8b;
}

QWidget#widget_title {
    background-color: #607d8b;
}

QLabel#widget_title {
    background-color: #607d8b;
    color: white;
}

/****** STATUS ******/
QLabel#ok {
    color: #27ae60;
}

QLabel#warn {
    color: #ff9b44;
}

QLabel#ko {
    color: #f44437;
}

